    <!--底部通栏-->
    <div class="bottom">
        <ul class="clearfix">
            <li>
                <a href="{:url('index/index/main')}">
                    <img src="__STATIC__/index/images/images/activeC.png" alt="">
                    <p style="color: #17AFFF">首页</p>
                </a>
            </li>
            <li>
                <a href="{:url('index/nearby/index')}">
                    <img src="__STATIC__/index/images/images/activeC.png" alt="">
                    <p >附近活动</p>
                </a>
            </li>
            <li>
                <a href="{:url('index/content/content_tool')}">
                    <img src="__STATIC__/index/images/images/shop.png" alt="">
                    <p>周边产品</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="__STATIC__/index/images/images/person.png" alt="">
                    <p>我</p>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
