<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="title" content="游品慧">
    <meta name="description" content="游品慧">
    <meta name="keywords" content="游品慧">
    <title>游品慧</title>
       <!--css文件-->
    <link rel="stylesheet" href="__STATIC__/index/css/common/base.css">
    <link rel="stylesheet" href="__STATIC__/index/css/common/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/index/css/common/bottom.css">
    <link rel="stylesheet" href="__STATIC__/index/css/content_task.css">
    <!--js文件-->
    <script src="__STATIC__/index/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="__STATIC__/index/js/common/swiper.jquery.min.js"></script>
    <script src="__STATIC__/index/js/common/common.js"></script>
    <script src="__STATIC__/index/js/common/slowSlide.js"></script>

    <script src="__STATIC__/index/js/content_task.js"></script>
</head>
<body>
<!--主要任务框-->
    <div id="task_main">
        <h3>博物馆</h3>

        <p>说一说古生物是怎么变成化石的？石化的过程是怎样的？</p>

        <div class="next_question">
            <button></button>
        </div>
    </div>


<!--页脚-->
    <ul id="task_footer">
        <li><button class="hint">任务提示</button></li>
        <li><button class="answer">相关知识</button></li>
    </ul>


<!--隐藏在左侧的提示框-->
    <div id="task_hint_div">
        <div class="prompt_box">
            <h3>任务提示</h3>
            <p>在逸夫博物馆的二楼，化石形成区有详细的介绍哦！</p>
        </div>
        <div class="get_back">
            <button></button>
        </div>
    </div>

<!--隐藏在右侧的提示框-->
    <div id="task_answer_div">
        <div class="prompt_box">
            <h3>相关知识</h3>
            <p>古代生物的遗体，遗物或遗迹埋藏在地下，在特定的环境中，经过漫长的地质年代变化，动植物体的坚硬构造（硬壳，骨骼或牙齿）被矿物取代而形成的保留原有形态或结构的石头。</p>
        </div>
        <div class="get_back">
            <button></button>
        </div>
    </div>
</body>
</html>
